<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a href="#" class="navbar-brand"><h2>Church Management System</h2></a>
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active"><a href="#" class="nav-link" routerLink="">Home</a></li>
      <li class="nav-item" routerLinkActive="active"><a href="#" class="nav-link" routerLink="/members">Members</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

Testing Git