<div class="container">
  <div class="card">
    <img src="assets/images/uesr1.jpg" alt="" class="card-img">
    <div class="card-img-overlay">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, eligendi!</div>
  </div>
</div>
